/* KSR: 2011.09.26 */
/* editCSS er til korrektur */
/*farver på persName, placeName, rs*/

/* seg stat */

.pEdit
        {
        margin: 1em 0em 1em 0em;
        }

.seg, .noSeg
        {
        color: green;
        text-decoration: underline;
        }

/* seg end */

.persName
        {
        color: #FF00FF /*pink*/
        }
        
.placeName
        {
        color: #30ba55 /*lys grøn*/
        }
        
.rs_myth
        {
        color: #FF9933 /*orange*/
        }
        
.rs_bible
        {
        color: #CC66FF /*lys lilla*/
        }
        
.rs_title
        {
        color: #00CCFF; /*lys blå*/
        }

.web
        {
        text-decoration: underline;
        color: blue;
        }

.raised
        {
        font-size: 80%;
        vertical-align: super;
        }
        

/* titlePage END */

/* rotation af bogstav START */

span.rotate
        {
        color: red;
        display: inline-block;
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
         transform: rotate(180deg);/* Firefox */
        }

/* rotation af bogstav END */