/* Kim Steen Ravn for Grundtvigs Værker */

li.decimal
        {
        list-style-type: decimal;
        }

li.ordered
        {
        list-style-type: circle;
        }

li.simple
        {
        list-style-type: none;
        }

li.lowerAlpha
        {
        list-style-type: lower-alpha;
        }

/* titlePage START */

.com
        {
        text-decoration: underline;    
        }

.dustTitlePage
        {
        margin: 6em 0em 2em 0em;
        }

.titlePageFirst
        {
        border: 1px solid black;
        margin: 2em 0em 2em 0em;
        background-image:url('oldPaper_1.png');
        }

.titlePageSecond
        {
        border: 1px solid black;
        margin: 2em 0em 2em 0em;
        }

.titlePartMain, .titlePartPart
        {        
        margin: 0.5em 0em 0.5em 0em;
        text-align: center;
        }

.titlePartMain
        {
        font-size: 140%;
        font-weight: bold;
        line-height: 200%;
        }

.titlePartPart
        {
        font-size: 120%;
        font-weight: normal;
        line-height: 150%;
        }

.docTitle
        {
        margin: 2em 0em 2em 0em;
        }

.byline
        {
        font-size: 100%;
        margin: 2em 0em 2em 0em;
        text-align: center;
        }

div.illustrator > .byline
        {
        font-size: 100%;
        line-height: 80%;
        margin: 1em 0em 1em 0em;
        text-align: center;
        }

.docAuthor
        {
        font-size: 120%;
        text-align: center;
        }

.noteProf
        {
        font-size: 80%;
        text-align: center;
        }
        
.docImprint
        {
        font-size: 80%;
        margin: 2em 0em 2em 0em;
        text-align: center;
        }

.epigraph > table > lg.number
        {
        font-size: 80%;
        margin-left: 4em;
        text-align: center;
        width: 10em;
        }

.epigraph > .lg
        {
        margin-left: 0em;
        line-height: inherit;
        text-align: center;
        }

.epigraph > div.right
        {
        margin-right: 5em;
        line-height: inherit;
        }

/* titlePage END */

/* rotation af bogstav START */

span.rotate
        {
        color: red;
        display: inline-block;
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
         transform: rotate(180deg);/* Firefox */
        }

/* rotation af bogstav END */

/* p START */

a.app
        {
        color: black;
        text-decoration: none;
        }

span.appInvisible
         {
         display: none;
         color: blue;
         }

.app:hover
         {
         color: green;
         }

.app:hover .appInvisible
        {
        display: inline;
        color: green;
        font-size: 80%;
        }

.lem
        {
        color: black;
        cursor: pointer;
        }

/* footnote START */

a.footnote
        {
        color: green;
        display: inline;
        font-size: 80%;
        margin: 0em;
        text-decoration: none;
        vertical-align: baseline;
        position: relative;
        top: -0.4em;
        }

/* footnote END*/

/* endNote START */

a.endNote
        {
        color: green;
        display: inline;
        font-size: 80%;
        margin: 0em;
        text-decoration: none;
        vertical-align: baseline;
        position: relative;
        top: -0.4em;
        }

/* endNote END*/

/* marginNote START */
                 
.chapter
        {
        margin: 0px 34px;
        }

.mainColumn
        {
        padding-right: 16px;
        }

.marginNote
        {
        font-size: 80%;
        margin: 0px -50px 0 10px;
        text-indent: 0;
        text-align: left;
        width: 40px;
        float: right;
        }

/* marginNote END*/

body   
        {
        font-family: "Georgia";
        font-size: 14px;
        line-height: 150%;
        margin-top: 10em;
        margin-bottom: 10em;
        margin-left: 5em;
        text-align: justify;
        width: 35em;
        }
        
div.typeValue
        {
        color: red;
        font-family: "courier";
        margin: 4em 0em 4em 0em;
        }

/* kolofonblad start */

.kolofonBlad
        {
        margin: 2.5em
        }

.kolofon, .copyright
        {
        margin: 0.5em;
        }
        
.changesContent
        {
        margin: 0.5em 0em 0em 0em;
        }

.version
        {
        border: 1px solid black;
        margin: 3em;
        padding: 5px;
        }

.kolofonTitle,.altTitle
        {
        margin: 0.5em;
        }
        
table.listWit, td
        {
        font-size: 14px;
        padding-right: 0.5em;
        padding-left: 0em;
        }

.desc
        {
        font-style: italic;
        }

.descList
        {
        font-style: italic;
        margin-left: -2.7em;
        }

td.sigel
        {
        font-style: italic;
        text-align: left;
        vertical-align: super;
        width: 2em;
        }
        
td.source
        {
        text-align: left;
        width: 30em;
        }
        
.SJ
        {
        text-align: left;
        width: 30em;
        }
        
.SJnumber
        {
        text-align: left;
        width: 5em;
        }

/* kolofonblad end */

/* genreMenu START */

div.genreMenu
        {
        border: 1px solid black;
        /*box-shadow: 6px 6px 3px #A8A8A8;*/
        padding: 6px;
        /*-moz-border-radius: 6px;*/
        /*-webkit-border-radius: 6px;*/
       /* border-radius: 6px;*/
        margin: 1em 0em 0em 0.5em;
        }

/* genreMenu END */


/* seg stat */

.seg, .noSeg
        {
        color: green;
        text-decoration: underline;
        }


/* seg end */

/* div typer, bibleVerse, motto, etc start*/

.bibleVerse
        {
        
        }

div.motto
        {
        font-size: 80%;
        line-height: 100%;
        margin: 3em;
        }

.preFace
        {
        text-align: justify;
        margin-right: 150px;
        margin-left: 150px;
        margin: 4em 4em 4em 4em;
        }

/* div typer, bibleVerse, motto, etc end */

.center
        {
        text-align: center;
        }

.editionPhilologist
        {
        margin-left: 50px;
        }

.emendation
        {
        text-align: justify;
        margin-right: 50px;
        margin-left: 50px;
        margin: 2em 2em 2em 2em;
        }

.firstIndent
        {
        text-indent: 2em;
        text-align: justify;
        }

.thirdIndent
        {
        margin-right: 4em;
        text-align: right;
        }

.hangingIndent
        {
        text-align: justify;
        text-indent: -1em;
        padding-left: 1em;
        }

/* proverb START */

.hangingIndentPro
        {
        line-height: 200%;
        text-align: justify;
        text-indent: -1em;
        padding-left: 2em;
        }

table.proverb
        {
        font-size: inherit;        
        line-height: 200%;
        }

/* proverb END */

.hangingIndentFirst /* endNote */
        {
        text-align: justify;
        padding-left: 1em;
        }

.firstIndentRight
        {
        margin-right: 2em;
        text-align: right;
        }
        
.secondIndentRight
        {        
        margin-right: 4em;
        text-align: right;
        }
        
div.epigraph > .thirdIndentRight
        {
        font-size: 100%;
        margin-right: 8em;
        text-align: right;
        }
        
.quote /* noIndent */
        {
        line-height: 90%;
        margin: 0em 2em 0em 2em;
        text-align: justify;
        }
        
.quoteFirstIndent
        {
        line-height: 90%;
        margin: 0em 2em 0em 2em;
        text-indent: 2em;
        text-align: justify;
        }
        
.quoteSecondIndent
        {
        line-height: 90%;
        margin: 0em 2em 0em 2em;
        text-indent: 4em;
        text-align: justify;
        }
        
.quoteThirdIndent
        {
        line-height: 90%;
        margin: 0em 2em 0em 2em;
        text-indent: 6em;
        text-align: justify;
        }
        
.quoteRight
        {
        line-height: 90%;
        margin: 0em 2em 0em 2em;
        text-align: right;
        }
        
.quoteFirstIndentRight
        {
        line-height: 90%;
        margin: 0em 2em 0em 2em;
        text-indent: 2em;
        text-align: right;
        }
        
.quoteSecondIndentRight
        {
        line-height: 90%;
        margin: 0em 2em 0em 2em;
        text-indent: 4em;
        text-align: right;
        }
        
.quoteThirdIndentRight
        {
        line-height: 90%;
        margin: 0em 2em 0em 2em;
        text-indent: 6em;
        text-align: right;
        }

.footLine
        {
        color: blue;
        text-align: left;
        margin: 1em auto 0 0;
        width: 4em;
        }

/*

.fwLongLine
        {
        margin: 2em;
        width: 5em;
        }

.fwShortLine
        {
        margin: 2em;
        width: 3em;
        }

*/

/* head start */

.head0, .head1, .head2, .head3, .head4, .head5, .head6   
        {
        text-align: center;
        margin: 2em 0em 2em 0em;
        }

.head0
        {
        font-size: 100%;
        }

.head1
        {
        font-size: 120%;
        }

.head2
        {
        font-size: 144%;
        }

.head3
        {
        font-size: 172%;
        }

.head4
        {
        font-size: 207%;
        }

.head5
        {
        font-size: 248%;
        }

.head6
        {
        font-size: 298%;
        }

.headhangingIndent
        {
        text-align: justify;
        text-indent: -1em;
        padding-left: 1em;
        }

.headlg
        {
        text-align: center;
        }

/* head end */

/* rendition in title START */

.italicTitle
        {
        font-style: italic;
        }

.boldTitle
        {        
        font-weight: bold;
        }

.raisedTitle
        {
        font-size: 70%;
        vertical-align: super;
        }

/* rendition in title START */

/* hi rend start

spaced|spacedBold|underline

*/

.plain
        {
        font-style: normal;
        }
        
.bold, .textur
        {
        font-weight: bold;
        }

.initial
        {
        font-style: normal;
        font-size: 120%;
        }

.spaced > .initial
        {
        font-style: italic;
        font-size: 120%;
        }

.initialSpaced
        {
        font-style: italic;
        font-size: 120%;
        }

.italic
        {
        font-style: italic;
        }

.justify
        {
        text-align: justify;
        }

.largeCaps
        {
        text-transform: uppercase;
        }

.lowered
        {
        font-size:80%;
        }

.raised
        {
        font-size: 70%;
        vertical-align: super;
        }

.romanType
        {
        font-family: arial;
        font-size: 95%;
        line-height: normal;
        }

.size-1
        {
         font-size: 80%;
        }

.size1
        {
         font-size: 110%;
        }

.size2
        {
         font-size: 120%;
        }

.size3
        {
         font-size: 130%;
        }

.size4
        {
         font-size: 140%;
        }

.size5
        {
         font-size: 150%;
        }

.size6
        {
         font-size: 160%;
        }

.smallCaps
        {
        font-variant: small-caps;
        }

.spaced
        {
        font-style: italic;
        }

.spacedSic
        {
        letter-spacing: 2px;
        }

.schwab
        {
        font-weight: bold;
        }

.siez1
        {
        font-weight: bold;
        }

.underLine
        {
        text-decoration: underline;
        }

.left
        {
        text-align: left;
        }


/* hi rend end */


/* lyrik start */

/* indrykning lyrik START */

.l_noIndent, .l_center, .l_hangingIndent, .l_firstIndent
        {
        width: 40em;
        }

.l_noIndent
        {
        text-align: left;
        }
        
.l_center
        {
        text-align: center;
        width: 20em;
        }

.l_hangingIndent
        {
        text-align: justify;
        text-indent: -1em;
        padding-left: 1em;
        }
        
.l_right
        {
        text-align: right;
        width: 15em;
        }

.l_firstIndent
        {
        text-indent: 1em;
        text-align: justify;
        }
        
.l_firstIndentRight
        {
        margin-right: 20em;
        text-align: right;
        }

.l_interRefrain
        {
        text-indent: 2em;
        text-align: justify;
        }
        
.l_refrain
        {
        margin-left: -1em;
        }

.l_secondIndent
        {
        text-indent: 2em;
        text-align: justify;
        }

.l_secondIndentRight
        {
        margin-right: 20em;
        text-align: right;
        }

.l_thirdIndent
        {
        text-indent: 3em;
        text-align: justify;
        }

.l_thirdIndentRight
        {
        margin-right: 3em;
        text-align: right;
        }

.l_fourthIndent
        {
        text-indent: 4em;
        text-align: justify;
        }

.l_varRefrain
        {
        text-indent: -1em;
        }

/* indrykning lyrik hele strofer END*/

table.lg
        {
        line-height: inherit;
        margin: 1em 0em 1em 0em;
        width: 40em;
        }
        
td.lgNumber
        {
        font-size: 80%;
        color: gray;
        width: 10%;
        }

td.lg
        {
        font-size: 12px;
        line-height: 150%;
        margin: 2em 2em 2em 3em;
        text-align: left;
        width: 40em;
        }

/* lyrik END */

/* table a.index START */

a.index
        {
        cursor: pointer
        }

a:link.index
        {
        color:#000000;
        text-decoration: none;
        }    /* unvisited link */
        
a:visited.index
        {
        color:#000000;
        } /* visited link */
        
a:hover.index
        {
        color:#000000;
        }   /* mouse over link */
        
a:active.index
        {
        color:#000000;
        }  /* selected link */

table.index, tr.row
        {
        border: 0px solid black;
        empty-cells: show;
        font-size: 90%;
        width: 100%;
        }

td, td.right, td.left, td.center
        {
        font-size: 90%;
        }

td.right
        {
        border: 0px solid black;
        empty-cells: show;
        font-size: inherit;
        text-align: right;
        }

td.left
        {
        border: 0px solid black;
        empty-cells: show;
        font-size: inherit;
        text-align: left;
        }


td.center
        {
        border: 0px solid black;
        empty-cells: show;
        font-size: inherit;
        text-align: center;
        }

td.cell:first-child
        {
        border: 0px solid black;
        empty-cells: show;
        text-align: left;
        width: 80%;
        }

td.cell:last-child
        {
        border: 0px solid black;
        empty-cells: show;
        text-align: right;
        width: 20%;
        }

/* table index END */

/* table type plain START */

table.plain
        {
        border: 0px solid black;
        empty-cells: show;
        font-size: 100%;
        margin: 2em 0em 0em 0em;
        width: 100%;
        }

tr.plain
        {
        border: 0px solid black;
        font-size: 14px;
        line-height: 100%;        
        text-align: left;
        }

.number
        {
        margin-left: -2em;
        }

/* table type plain END */

/* table type synopsis START */

table.synopsis
        {
        border: 5px solid black;
        empty-cells: show;
        font-size: 100%;
        margin: 2em 0em 0em 0em;
        width: 100%;
        }

tr.synopsis
        {
        border: 0px solid black;
        font-size: 14px;
        line-height: 100%;        
        text-align: left;
        }

.number
        {
        margin-left: -2em;
        }

/* table type synopsis END */

/* table type subscription START */

table.subscription, tr.subscription, td.subscription
        {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 10px;
        }

table.subscription
        {
        empty-cells: show;
        font-size: 100%;
        margin: 2em 0em 0em 0em;
        width: 100%;
        }

tr.subscription
        {
        font-size: 14px;
        line-height: 100%;        
        text-align: left;
        }

tr.subscription:nth-child(3) > td.subscription
        {
        height: 25em;
        }

td.subscription
        {
        margin-left: -2em;
        }

/* table type subscription END */

.motto
        {
        font-size: 80%;
        line-height: 110%;
        margin: 1em 0em 1em 0em;
        }

.noIndent
        {
        text-indent: 0em;
        text-align: justify;
        }

.secondIndent
        {
        text-indent: 8em;
        text-align: justify;
        }

.pageNumber
        {
        text-align: justify;
        margin-right: 50px;
        margin-left: 50px;
        margin: 4em 4em 4em 4em;
        }

a.pbFax
        {
        text-decoration: none
        }
.pbA
        {
        font-weight: bold;
        }

.pbA, .pb
        {
        font-size: 80%;
        color: #008000;
        }

.right
        {
        text-align: right;
        }
        
.spaceOne
        {
        line-height: 200%;
        }
        
.spaceTwo
        {
        line-height: 300%;
        }

/* figure START */

.engraver
        {
        font-size: 80%;
        margin: 2em 0em 2em 0em;
        text-align: center;
        }

.imageMyth
        {
        border: 1px solid #E0E0E0;
        text-align: center;
        margin: 2em 0em 2em 0em
        }

.imageMythHead
        {
        font-weight: bold;
        margin: 1em 0em 1em 0em;
        }

.imageMythFigDisc
        {
        font-size: 80%;
        margin: 1em 0em 1em 0em;
        }

/* figure END*/

/* fw START */

.blank, .longLine, .shortLine, .cross
        {
        margin: 2em 0em 2em 0em;
        }

.cross
        {
        font-size: 150%;
        text-align: center
        }

/* fw END */

/* graphic START */

.asteriskDown, .asteriskUp
        {
        text-align: center;
        }

.asteriskDown
        {
        margin: 1em 0em 0em 0em;
        }

.asteriskUp
        {
        margin: 1em 0em 0em 1em;
        }

/* graphic END*/
        
.witnessXmlId
        {
        font-style: italic;
        width: 50px;
        display: block;
        float: left; 
        }
        
/* drama START */

.set_center, .set_firstIndent, .set_noIndent, .set_right
        {
        font-size: 80%;
        line-height: 125%;
        margin: 1em 0em 1em 0em;
        width: 50%;
        color: red
        }
        
.set_center
        {
        text-align: center;
        }
        
.set_firstIndent
        {
        text-indent: 1em;
        }
        
.set_noIndent
        {
        text-indent: 0em;
        }
        
.set_right
        {
        text-align: right;
        }

table.cast
        {
        empty-cells: show;
        font-size: 100%;
        width: 80%;
        }

div.cast
        {
        font-size: 120%;
        margin: 1em 0em 1em 0em;
        text-align: center;
        }

table.cast, tr.row.cast, td.role, td.abb, td.roleDesc
        {
        border: 0px solid black;
        }

td.role, td.abb, td.roleDesc
        {
        text-align: left;
        vertical-align: middle;
        }

td.role
        {
        width: auto;
        }

td.abb
        {
        width: 5%;
        }

td.descRole
        {
        width: 55%;
        }

/* drama END */

/* back START */

table.corrigenda
        {
        border: 0px solid black;
        margin-top: 2em;
        padding-right: 0.5em;
        padding-left: 0em;
        }
        
td.corrigenda
        {
        vertical-align: top;
        }

td.corrigenda:nth-child(1)
        {
        text-align: left;
        width: 8%;
        }

td.corrigenda:nth-child(2)
        {
        text-align: right;
        width: 8%;
        }

td.corrigenda:nth-child(3)
        {
        text-align: left;
        width: 8%;
        }

td.corrigenda:nth-child(4)
        {
        text-align: right;
        width: 8%;
        }

td.corrigenda:nth-child(5)
        {
        text-align: left;
        width: 8%;
        }

/* back END */